<head>

<link href="/css/main.css" rel="stylesheet">
<title>
Anita King's Short Order Menu	
</title>
</head>
<br>

<body>
<br>	
<br>
<%=yield%>
</body>
<br>
<br>
<br>
<br>
<br>
<footer>
Sandwiches make you fat!<br>
<br>
<br>
<br>
<br>
You are nearing the bottom of the page...	
<br>
<br>
<br>
</footer>