<head>

<link href="/css/main.css" rel="stylesheet">
<title>
Anita King's Short Order Menu	
</title>
</head>

<body>
	<div class = "practice">
	<%=yield%>
	</div>
</body>

<footer>
<div class="footer-text">
	Sandwiches make you fat!
	<br>
	You are nearing the bottom of the page...	
	</div>
</footer>